<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>
<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="_framework/blazor.web.js"></script>
    <script>
        window.submitLoginForm = function (email, password, rememberMe, antiforgeryToken) {
            var form = document.createElement('form');
            form.method = 'POST';
            form.action = '/account/login';
            function addField(name, value) {
                var input = document.createElement('input');
                input.type = 'hidden';
                input.name = name;
                input.value = value;
                form.appendChild(input);
            }
            addField('email', email);
            addField('password', password);
            addField('rememberMe', rememberMe.toString());
            addField('__RequestVerificationToken', antiforgeryToken);
            document.body.appendChild(form);
            form.submit();
        };
    </script>
</body>
</html>