<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <AccountUsername>vagoadam@biztovill.hu</AccountUsername>
    <AzureServiceName>BiztvillCRMWeb20260327201621</AzureServiceName>
    <AzureServiceResourceGroup>CRM</AzureServiceResourceGroup>
    <AzureServiceResourceId>/subscriptions/0ced1906-e7d2-4a59-ade5-6903c350aadf/resourceGroups/CRM/providers/Microsoft.Web/sites/BiztvillCRMWeb20260327201621</AzureServiceResourceId>
    <AzureServiceResourceType>Microsoft.Web/sites</AzureServiceResourceType>
    <AzureServiceSubscriptionId>0ced1906-e7d2-4a59-ade5-6903c350aadf</AzureServiceSubscriptionId>
    <AzureServiceSubscriptionName>Azure subscription 1</AzureServiceSubscriptionName>
    <AzureWebSite>/subscriptions/0ced1906-e7d2-4a59-ade5-6903c350aadf/resourceGroups/CRM/providers/Microsoft.Web/sites/BiztvillCRMWeb20260327201621 (Microsoft.WebTools.Azure.Client.Entities.Website)</AzureWebSite>
    <DotNetCoreVersion>8.0.x</DotNetCoreVersion>
    <DotNetVersionSupportDisposition>FullySupported</DotNetVersionSupportDisposition>
    <GitWorkflowCredentialsHandlerId>WebSite</GitWorkflowCredentialsHandlerId>
    <GitWorkflowFactoryId>appServiceGitHubWorkflowFactory</GitWorkflowFactoryId>
    <GitWorkflowTemplatePath>workflows/github/azureAppServiceWindows.yml</GitWorkflowTemplatePath>
    <IsLinuxAzureService>false</IsLinuxAzureService>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <ProjectGuid>a1b2c3d4-1111-2222-3333-444455556666</ProjectGuid>
    <ProjectOutputPath>published</ProjectOutputPath>
    <ProjectPath>BiztvillCRM.Web</ProjectPath>
    <PublishProvider>AzureWebSite</PublishProvider>
    <TargetFrameworks>System.Collections.Generic.List`1[System.String]</TargetFrameworks>
    <TenantId>6d66968c-c4b9-4d9d-ad76-d379334043e1</TenantId>
  </PropertyGroup>
</Project>